.FriendList {
  display: flex;
  padding-top: 20px;
  gap: 20px;
}

.Color {
  display: inline-block;
  text-align: center;
  margin-bottom: 3px;
}

.Color.online {
  color: green; 
}

.Color.offline {
color:  red; 
}



.FriendsItem {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: solid 2px;
border-color: black;
border-radius: 10%;
width: 130px;
}

.FriendsImage {
padding: 10px
}

.FriendsParagraph {
color: black;
display: flex;
justify-content: center;

}